html {
    scroll-behavior: smooth;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background-color: rgb(255, 255, 255);
    color: rgb(54, 20, 20);
    grid-area: a;
    padding-left: 20px;
    padding-right: 20px;
    z-index: -2;
}



body{
    background-color: white;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    font-size: 20px;
}

p {
    margin: 0px;
    text-indent: 0px;
    color: black;
}


.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 1%;
}

header {
    background-color: #ffffff;
    justify-content: center;
    grid-area: h;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-;
    padding: 16px;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 18px;
}

nav a:hover {
    color: black;
}


footer {
    padding: 35px 0;
    background-color: rgb(242, 242, 242);
}

